//
// VARIABLES
//

// Colors
$blue: #4183c4;

// Grays
$black: #000000;
$darkerGray: #222222;
$darkGray: #333333;
$gray: #666666;
$lightGray: #eeeeee;
$white: #ffffff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}
